body {
    width: 400px;
    height: 280px;
}

h1 {
    width: 200%;
    color: blueviolet;
    text-align: center;
    font-style: italic;
}

#especial {
    color: brown;
    font-family: Arial, sans-serif;
    font-size: x-large;
}

#tabela {
    display: grid;
    border-style: dashed;
}