/* -------------------- Regras -------------------- */
@charset "UTF-8";

/* -------------------- Estilo Global -------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  /* -------------------- Estilo por Elementos -------------------- */
  body {
    background-color: #f5f5f5;
    text-align: center;
  }
  
  /* -------------------- Estilo por Classes -------------------- */
  .top-box {
    width: 60%;
    margin: 20px auto;
    padding: 10px;
    background-color: #a18bd0;
    border-radius: 10px;
    color: #333;
  }
  
  .main-box {
    width: 80%;
    max-width: 600px;
    background-color: #a18bd0;
    margin: 0 auto;
    border-radius: 15px;
    padding: 60px 10px;
    color: white;
  }
  
  .main-box h1 {
    font-size: 2em;
    margin-bottom: 60px;
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 20px;
  }
  
  .menu-item {
    background-color: white;
    color: #333;
    width: 20%;
    padding: 20px 10px;
    border-radius: 0 0 30px 30px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
  }

  .menu-item:hover {
    background-color: #f0f0f0;
  }
  
  .menu-item:visited {
    color: #333;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    transform: translateX(-50%);
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-bottom: 1px solid #eee;
  }
  
  .dropdown-content a:hover {
    background-color: #f0f0f0;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .footer {
    margin-top: 20px;
    background-color: #f08cf0;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  